<div>
    <h1>MobJobs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Aut perferendis blanditiis debitis nemo inventore beatae sequi,
        culpa illum commodi! Nobis fugit aperiam temporibus adipisci
        aspernatur esse pariatur necessitatibus ratione repellat.</p>
    <form action="/forgotPassword" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email de cadastro">
        <a href="/passwordSubmission">Enviar</a>
    </form>
</div>