<h1>Pagina principal aqui</h1>

<form action="/post" class="container-addPost" method="POST" enctype="multipart/form-data">
  <input type="file" name="imageUrl" placeholder="Insira imagem">
  <textarea name="message" placeholder="Entre com a mensagem"></textarea>
  <button type="submit">Enviar</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}


<a href="/perfil-candidate">Perfil Candidate</a>
<a href="/perfil-company">Perfil Company</a>

<hr>
<h3>Todos os Posts</h3>
{{#each allPosts}}
<div class="post-container">

  <img src="{{ image }}" width="200" height="100">
  <p>{{ message }}</p>
</div>
{{/each}}

<a href="/perfil-candidate">Perfil</a>
<a href="/">Logout</a>