<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ModJobs</title>
</head>
<body>
    <div>
        <h1>ModJobs</h1>
        <form action="/">
        <input type="text" name="user" placeholder="Usuário">
        <input type="password" name="password" placeholder="Senha">
        <a href="/fogetPassword">Esqueci Minha Senha</a>
        <a href="/">Entrar</a>
        <a href="/signUp">Cadastrar</a>
        </form>
    </div>
</body>
</html>''