<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ModJobs</title>
</head>
<body>
    <div>
        <h1>ModJobs</h1>
        <form action="/" method="POST">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="Senha">
        <a href="/forgotPassword">Esqueci Minha Senha</a>
        <br>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  
  <button class="crazy-button" type="submit">Entrar</button>
        <a href="/signUp">Cadastrar</a>
        </form>
    </div>
</body>
</html>