<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ModJobs</title>
</head>
<body>
    <div>
        <h1>ModJobs</h1>
        <form action="/">
        <input type="text" name="name" placeholder="Usuário">
        <input type="text" name="name" placeholder="Senha">
        <a href="/esqueciSenha">Esqueci Minha Senha</a>
        <button type="submit">Entrar</button>
        <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>