<div>
  <h1>MobJobs</h1>
  <form action="/" method="POST">
    <label for="text">Email</label>
    <input type="text" name="email" placeholder="Email">
    <br>
    <label for="text">Senha</label>
    <input type="password" name="password" placeholder="Senha">
    <br>


    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

    <button class="button" type="submit">Entrar</button>
    <a href="/signUp">Cadastrar</a>
  </form>
  <br>
  <footer>
    <a href="/forgotPassword">Esqueci minha senha</a>
  </footer>
</div>