<div class="wrap-centralized">
  <div class="container-logo">
    <img src="/images/logo.png" alt="MobJobs" class="logoIndex">
    <h1>MobJobs</h1>
  </div>
  <form action="/" method="POST" class="container-login" >
    <input type="text" name="email" placeholder="Por favor insira seu email" class="txtBox txtEmail">
    <input type="password" name="password" placeholder="Por favor insira sua Senha" class="txtBox txtPass">
    <a href="/forgotPassword" class="lnk lnkForgot">Esqueci Minha Senha</a>
    <br>

    {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
    {{/if}}

    <button class="btn btnSignIn" type="submit">Entrar</button>
    <a href="/signUp" class="lnk lnkSignUp">Cadastrar</a>
  </form>
</div>