<div class="wrap-centralized wrap-forgotPass">
  <div class="container-voltar">
    <a href="/" class="alnk">
      <img src="/images/back.svg" alt="Voltar" class="ico-back">
      <span>
        voltar
      </span>
    </a>
  </div>
  <div class="container-logo">
    <img src="/images/logo.png" alt="MobJobs" class="logoIndex">
    <h1>MobJobs</h1>
  </div>
  <p class="subtitle container-logo_singUp">
    Sua Senha foi enviada para o Email cadastrado.
  </p>
  <a class="btn btnPassSubmition" href="/">Fazer login</a>
</div>