<div>
    <h1>MobJobs</h1>
    <p>Para quem é a conta que você deseja criar?</p>
    <a href="/signUpCandidate">Para Candidatos</a>
    <a href="/signUpCompany">Para Empresas</a>
    <a href="/">Entrar</a>
</div>