<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ModJobs</title>
</head>
<body>
    <div>
        <h1>ModJobs</h1>
        <p>Precisamos de alguns dados básicos</p>
        <form action="/signUpCandidate" method="POST">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Nome">
        <label for="surName">Sobrenome</label>
        <input type="text" name="surname" placeholder="Sobrenome">
        <label for="celPhone">Celular</label>
        <input type="text" name="celPhone" placeholder="(00) 00000-0000">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Esse será seu login">
        <label for="password">Senha</label>
        <input type="text" name="password" placeholder="Coloque sua Senha">
        <button type="submit">Confirmar</button>
        </form>
    </div>
</body>
</html>