<div class="wrap-centralized">
    <div class="container-voltar">
        <a href="/" class="alnk">
        <img src="/images/back.svg" alt="Voltar" class="ico-back">
        <span>
            voltar
        </span>
        </a>
    </div>
    <div class="container-logo">
        <img src="" alt="MobJobs">
        <h1>MobJobs</h1>
    </div>
    <h2 class="subtitle container-logo_singUp">Para quem é a conta que você deseja criar?</h2>
    <div class="container-options">
        <a href="/signUpCandidate" class="container-perfilChoice">
            <img src="/images/candidates.svg" alt="Candidatos">
            <p>Para Candidatos</p>
        </a>
        <a href="/signUpCompany" class="container-perfilChoice">
            <img src="/images/company.svg" alt="Empresas">
            <p>Para Empresas</p>
        </a>
    </div>
</div>