<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ModJobs</title>
</head>
<body>
    <div>
        <h1>ModJobs</h1>
        <p>Para quem é a conta que você deseja criar?</p>
        <a href="/signUpCandidate">Para Candidatos</a>
        <a href="/signUpCompany">Para Empresas</a>
    </div>
</body>
</html>