/* LIBRARY 
Main color: #5b8fdd
Seccundary color: #3b5c8d
*/


/* CSS RESET */
*{ margin: 0; padding: 0; font-size: 16px; color: #666; outline: initial;  font-family: 'PT Sans', sans-serif, helvetica; }
html, body{height: 100%;min-height: 100%;}

/* STRUCTURE */
/* ErrorMessage */
.error-message{position: absolute;top: 10px;color: #f00;background: rgba(255, 0, 0, 0.3);width: 100%;top: 0;left: 0;border-radius: 10px 10px 0 0;padding: 7px 0;text-align: center;box-sizing: border-box;}
/* login */
.wrap-centralized{ background: #f0f0f0; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center }
.container-logo{display: flex;flex-direction: column;width: 430px;justify-content: center;margin-bottom: 70 0 30px;align-items: center;}
.container-logo h1{font-size: 24px;margin-bottom: 20px;}
.logoIndex{width: 80px;margin: 11px;}

.container-login{background: #fff;height: 300px;display: flex;flex-direction: column;width: 430px;padding: 50px;position: relative;border-radius: 10px;}
.txtBox{border-width: 0 0 1px 0;border-color: #ccc;margin: 0 0 20px 0;height: 33px;padding: 7px 15px;}
  .txtBox::placeholder{ color: #aaa }
.lnk{ color: #5b8fdd; text-decoration: none}
  .lnk:hover{ color: #4e7abb }
.lnkForgot{ text-align: right }
.btn{height: 48px;border: none;border-radius: 5px;cursor: pointer;background: #ccc;display: flex;justify-content: center;align-items: center;text-decoration: none;}
  .btn:hover{background: #507ec4;color: #fff;}
  .btn:active{box-shadow: inset 2px 2px 5px #3b5c8d;}

  /* customizacoes */
  .btnSignIn{background: #5b8fdd;color: #fff;}
  .lnkSignUp{ border: 1px solid #5b8fdd; color: #5b8fdd; height: 48px; display: flex; justify-content: center; align-items: center; border-radius: 5px; margin-top: 20px}
    .lnkSignUp:hover{background: #507ec4; color: #fff}
    .lnkSignUp:active{box-shadow: inset 2px 2px 5px #3b5c8d;}

/* Perfil Choice */
.subtitle{font-size: 21px;color: #999;text-align: center;}
.container-options{display: flex;flex-direction: row;width: 600px;max-width: 100%;justify-content: space-around;margin-top: 50px;margin-bottom: 200px;}
.container-perfilChoice{background: #fff;border-radius: 10px;align-self: center;width: 200px;height: 200px;display: flex;flex-direction: column;justify-content: center;align-items: center;text-decoration: none;}
  .container-perfilChoice:active{ box-shadow: inset 2px 2px 5px #3b5c8d;}

.container-perfilChoice img{ width: 90px }
.container-perfilChoice p{ margin-top: 15px; font-weight: bold; color: #5b8fdd }

/* form signIn/signUp */
.wrap-form{display: flex;flex-direction: column;align-items: center;background: #f0f0f0;max-height: 100%;height: 100%;justify-content: center;}
.form-container{background: #fff;width: 80%;padding: 50px;border-radius: 10px;margin: 30px 0 0 0;display: flex;flex-wrap: wrap;justify-content: center;position: relative;max-width: 1000px;}
.input-container{display: flex;flex-direction: column;margin: 15px;min-width: 30%;}
.input-container__email {
  width: 100%;
  display: flex;
  justify-content: center;
}
    .input-container__email .input-container {
      width: 62%;
  }
.btnSubmit { display: block; width: 60%; margin: auto;background: #5b8fdd;color: #fff;}
.container-voltar{border: 0px solid #000;position: absolute;top: 20px;left: 5%;display: flex;}
  .alnk{ display: flex; justify-content: center; align-items: center; text-decoration: none; cursor: pointer }
    .ico-back{ width: 20px; margin-right: 5px; }
    .alnk span{ font-size: 18px; color: #999}

/* Form Forgot Pass*/
.container-forgotPass{height: 200px!important;justify-content: space-between;border-radius: 10px;}
.container-forgotPass .container-input{ display: flex; flex-direction: column; }
.btnForgotPass{background: #5b8fdd;color: #fff; }
.container-logo_singUp{ margin-bottom: 20px  }

/* Forgot password & Password Submition */
.btnPassSubmition{ min-width: 250px; background: #5b8fdd;color: #fff;   }

/* Home */
/* nav-bar */
.nav-bar{width: 100%;height: 70px;background: #5b8fdd;color: #fff;display: flex;flex-direction: row;justify-content: space-between;position:relative}
.logo{display: flex;width: 100px;height: 70px;justify-content: center;align-items: center;background: rgba(255,255,255,0.5);}
.logo img{width: 50px;}
.search-container{width: 34%;height: 70px;display: flex;flex-direction: row;justify-content: center;align-items: center;margin: 0 0px;background: rgba(255,255,255,0.6);}
.txtBoxSearch{border: 0;background: none;width: 75%;padding-right: 10px;}
.icons-container{width: 60%;height: 70px;display: flex;flex-direction: row;list-style: none;justify-content: space-around;align-items: center;}
  .icon{display: flex;flex-direction: column;justify-content: center;align-items: center;position: relative;}
    .icon:hover .icons-container__text{display: block;z-index: 9;}
  .icons-container__icon{width: 33px;}
  .icons-container__text{display: none; font-size: 12px;text-align: center;position: absolute;bottom: -40px;min-width: 82px;background: #507ec4d9;border-radius: 5px;color: #fff;padding: 2px;box-shadow: 2px 2px 2px #3b5c8d;}

.profile-container{background: #0000005f;min-width: 25%;display: flex;flex-direction: row;justify-content: space-around;align-items: center;}
.container-profile__name{min-width: 50%;max-width: 70%;display: flex;flex-direction: column;}
  .container-profile__name p{color: #fff}
.photo-profile{height: 50px;width: 50px;border-radius: 50%;}
.lnks-profile{list-style: none;display: flex;flex-direction: row;}
  .lnks-profile li:first-child{margin-right: 15px;}
  
.lnk-profile{ color: #fff; text-decoration: none;  }
  .lnk-profile:hover{color: #b3caec;}
.lnk-search{ color: #fff; text-decoration: none; width: 30px; height: 30px }
.lnk-close{ display: none;}
#search_icon_responsive{ display: none }
.container-profile_name_lnk{ width: 60%; display: flex; flex-direction: column }
.container-profile_name_lnk p{ color: #fff;font-weight: bold }
/* content */
.content{ background: #f0f0f0; width: 100%; height: 100%; position: relative; display: flex; flex-direction: row; justify-content: center }
.middle-column {width: 96%;max-width: 1368px;display: flex;flex-direction: column;align-items: center;} 
/* posts */
.container__create-container{width: 50%;min-width: 700px;height: 270px;display: flex;flex-direction: row;margin-top: 20px;background: #fff;padding: 15px;border-radius: 7px;border: 1px solid #ddd;box-sizing: border-box;}
.container-addPost{height: 100%;width: 100%;display: flex;flex-direction: column;}
.img-perfil-post{width: 50px;height: 50px;margin-right: 15px;}
.txtArea-post{height: 70%;max-width: 100%;border: 0;padding: 7px;}
  .txtArea-post::placeholder {color: #ccc;}
.container-submit-post{display: flex;flex-direction: row-reverse;height: 25%;width: 100%;border: 1px solid #ccc;border-width: 1px 0 0 0;justify-content: space-between;padding-top: 20px;align-items: center;}
.btnSubmit-post{width: 120px;height: 40px;background: #5b8fdd;color: #fff;border: 0;border-radius: 4px;}
.upload-post{
    width: 100%;
}
.imageUrl{background: url(../images/picture.svg) no-repeat;cursor: pointer;width: 40px;height: 38px;background-size: contain;padding: 0;margin: 0;display: none;}

.container-post{width: 100%;height: 100%;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;padding: 0 0 30px 0;}
.post-container{width: 48%;min-height: 270px;display: flex;flex-direction: column;margin-top: 20px;background: #fff;padding: 15px;border-radius: 7px;border: 1px solid #ddd;box-sizing: border-box; justify-content: space-between}
.post-container.post-profile{max-width: 700px;width: 100%;min-height: 270px;display: flex;flex-direction: column;margin-top: 20px;background: #fff;padding: 15px;border-radius: 7px;border: 1px solid #ddd;box-sizing: border-box;justify-content: space-between;}
.post-container__profile{ display: flex; flex-direction: row; align-items: center }

.post-container__post{width: 100%;height: 100%;}
.post-container__img{ max-width: 100%;border-radius: 7px;margin: 15px 0; }
.post-container__txt{border: 1px solid #ddd;border-width: 0 0 1px 0;padding: 0 0 15px 0;}

/* Profile Pages */
.content-profile{background: #f0f0f0;width: 100%;position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;}

.imageCapa{width: 100%;min-height: 400px;display: flex;flex-direction: column;align-items: center;justify-content: flex-end;position: relative;background-size: cover;background-position: 0;}
  .imageCapa:after {content: '';display: block;position: absolute;top: 0;left: 0; width: 100%; height: 100%; box-shadow: inset 0px -120px 55px -30px rgba(0, 0, 0, 0.5);}
.imagePerfil{width: 15%;z-index: 1;position: relative;top: 65px;border: 7px solid #fff;box-shadow: 0px 0px 12px #000;}
.nameProfile{width: 36%;z-index: 1;position: relative;top: 72px;text-align: center;font-size: 20px;}

.sub-menu-profile{background: #444;display: none;width: 100%;justify-content: space-around;list-style: none;height: 70px;align-items: center;position: relative;margin-bottom: 60px;box-shadow: inset 0 0 10px #000000;}
.sub-menu-profile li:nth-child(2){margin-right: 100px;}
.sub-menu-profile li:nth-child(3){margin-left: 100px;}
.lnk-subMenuProfile{color: #fff;text-decoration: none;}

.links-container{position: absolute;top: 345px;right: 30px;z-index: 3;display: flex;flex-direction: row;list-style: none;}
.links-container li{width: 40px;height: 40px;margin: 7px;border-radius: 50%;background: #fff;}

.profile-content{width: 95%;max-width: 1050px;height: 100%;display: flex;flex-direction: row;margin-top: 65px;justify-content: space-between;padding-bottom: 25px;}
.info-column{width: 30%;padding-top: 20px;height: 270px;display: flex;flex-direction: column;margin-top: 20px;background: #fff;padding: 15px;border-radius: 7px;border: 1px solid #ddd;box-sizing: border-box;}
.content-column {width: 96%;max-width: 1368px;display: flex;flex-direction: column;align-items: center;} 
.lnks-profile.lnks-profile-new{ justify-content: space-between }
  .lnks-profile.lnks-profile-new li:first-child{ margin-right: 0 }
img.ico-lnks { width: 40px; }
.info-column ul{ list-style: none }
.info-column ul li{  }
.ico-delete{width: 30px;margin-top: 15px;}
.subtitlePosts{ margin: 20px 0}

/* RESPONSIVITY */
@media(min-width: 1200px){
  .post-container{width: 100%;max-width: 700px;}
}
@media(max-width: 1200px){
  .input-container__email .input-container{ width: 63%; }
}

@media(max-width: 992px){
  .middle-column {width: 70%; display: flex;flex-direction: column;align-items: center;} 
  .container__create-container{width: 100%;height: 270px;display: flex;flex-direction: row;margin-top: 20px;background: #fff;padding: 15px;border-radius: 7px;border: 1px solid #ddd;box-sizing: border-box;}
  .container-post{ width: 100%;height: 100%;display: flex;flex-direction: column;}
  .post-container{width: 100%;min-height: 270px;display: flex;flex-direction: column;margin-top: 20px;background: #fff;padding: 15px;border-radius: 7px;border: 1px solid #ddd;box-sizing: border-box;}
  .content-column {width: 67%;display: flex;flex-direction: column;align-items: center;} 
}

@media(max-width: 768px){
  /* login */
  .container-login{max-width: 70%; height: 300px; }
  .container-logo{max-width: 70%; margin-top: 20px; }
  .input-container { display: flex; flex-direction: column; margin: 15px; min-width: 95%; }
  .form-container{ margin: 20px 0 0 0; width: 90%; padding: 20px 0}
  .wrap-forgotPass .error-message{min-width: 100%;top: 0;left: 0;border-radius: 10px 10px 0 0;}
  /*home*/
  #search_icon_responsive{display: block;}
  .search-container { display: none; width: 100%; position: absolute; top: 70px; background: #c1d0f1ed; }
  .profile-container{min-width: 35%;}
  .lnks-profile{width: 90px;}
  .show{display: flex;justify-content: space-around;z-index: 8;}
  .lnk-close{display: flex;width: 30px;height: 30px;cursor: pointer;}
}
@media(max-height: 480px){
  .wrap-centralized,.wrap-form{max-height: initial;height: initial;padding-bottom: 20px;}
}
@media(max-width: 736px){
  .input-container__email .input-container{ width: 64%; }
  .container-options{margin-bottom: 0px;}
  
} 

@media(max-width: 480px){
  /* login */
  .container-login{max-width: 95%;height: 360px;padding: 35px 20px;box-sizing: border-box;}
  form.container-login.container-forgotPass{ height: 220px; }
  .container-logo{width: 70%;top: 0px;position: absolute;}
  .subtitle{ margin-top: 70px; }
  .container-logo_singUp{ margin-top: 0 }
  /* Perfil Choice */
  .container-options{display: flex;flex-direction: column;width: 90%;/* margin-top: 140px; *//* margin-bottom: 400px; */}
  .container-perfilChoice{width: 100%;display: flex;flex-direction: row;margin-bottom: 30px;max-height: 80px;padding: 15px 0;justify-content: space-around;}
  .container-perfilChoice p{ margin-top: 0 }
  .form-container{ padding: 0; margin: 20px 0 0 0; width: 100%; border-radius: 0; padding: 20px 0}
  .alnk span{ display: none }
  .wrap-form{max-height: initial;height: initial;padding-bottom: 20px;}
  .error-message{font-size: 14px;}
  /* home */
  .container-profile_name_lnk{ display: none;}
  .icons-container__icon{width: 25px;}
  .txtBoxSearch{width: 60%;font-size: 15px;}
  .profile-container{min-width: 15%;}
}